input[type=text] {
    border: 2px solid rgb(6, 189, 189);
    border-radius: 4px;
    padding: 10px;
    font-size: 22px;
}

input[type=text]:focus {
    border: 3px solid rgb(235, 186, 112);
}

body {
    background-color: rgb(32, 39, 39);
    color: white;
    font-family: Optima, sans-serif;
    margin: 40px;
    border-style: solid;
    border-color: rgb(235, 186, 112);
    padding: 20px;
    margin-right: 838px;
}

h1 {
    font-size: 4em;
    margin-left: 40px;
}

h3 {
    font-size: 2em;
}

button {
    border: 2px solid rgb(170, 184, 184);
    border-radius: 4px;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(6, 189, 189);
}

button:hover {
    background-color: rgb(235, 186, 112)
}

#subtraction {
    margin-left: 30px;
}
#multiplication {
    margin-left: 30px;
}
#division {
    margin-left: 30px;
}

#clear {
    width: 99%;
}